  <header class="sticky-top shadow-sm">
    <nav class="navbar navbar-expand-lg bg-agah-navy navbar-dark py-3">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center gap-3 fw-bold fs-4" href="index.html">
          <img src="img/logo-agah-redondo.jpg" alt="Logo AGAH" class="agah-logo-navbar">
          <span>AGAH <span class="text-agah-amber small fw-normal d-block d-sm-inline">| Honduras</span></span>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAGAH" aria-controls="navbarAGAH" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarAGAH">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fw-medium small">
            <li class="nav-item"><a class="nav-link px-3" data-page="index.html" href="index.html">Inicio</a></li>
            <li class="nav-item"><a class="nav-link px-3" data-page="sobre-agah.html" href="sobre-agah.html">Sobre AGAH</a></li>
            <li class="nav-item"><a class="nav-link px-3" data-page="tablero.html" href="tablero.html">Tablero de Compromiso</a></li>
            <li class="nav-item"><a class="nav-link px-3" data-page="repositorio.html" href="repositorio.html">Repositorio OCR</a></li>
            <li class="nav-item"><a class="nav-link px-3" data-page="prensa.html" href="prensa.html">Sala de Prensa</a></li>
            <li class="nav-item"><a class="nav-link px-3 btn bg-agah-cyan text-white ms-lg-2 px-4 py-1 rounded-pill hover-bg-agah-navy mt-lg-1" data-page="contacto.html" href="contacto.html">Contacto</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
